<img src="/img/banner_p.png" alt="Banner" style="position:relative; top:0px;">
<img src="/img/navbar.png" alt="" style="position:relative; top:-9px;">
<table width="1080" border="0" cellpadding="0" cellspacing="0" style="position:absolute; top:108px;">
  <tbody>
    <tr onmouseover=>
      <td><a href="index"><img src="/img/buttons/frontpage.png" alt="Frontpage" onmouseover="this.src='/img/buttons/frontpage_h.png';" onmouseout="this.src='/img/buttons/frontpage.png';"></a></td>
      <td><a href="about"><img src="/img/buttons/about.png" alt="About" onmouseover="this.src='/img/buttons/about_h.png';" onmouseout="this.src='/img/buttons/about.png';"></a></td>
      <td><a href="projects"><img src="/img/buttons/projects.png" alt="Projects" onmouseover="this.src='/img/buttons/projects_h.png';" onmouseout="this.src='/img/buttons/projects.png';"></a></td>
      <td><a href="services"><img src="/img/buttons/services.png" alt="Services" onmouseover="this.src='/img/buttons/services_h.png';" onmouseout="this.src='/img/buttons/services.png';"></a></td>
      <td><a href="contact"><img src="/img/buttons/contact.png" alt="Contact" onmouseover="this.src='/img/buttons/contact_h.png';" onmouseout="this.src='/img/buttons/contact.png';"></a></td>
      <td><a href="listings"><img src="/img/buttons/listings.png" alt="Listings" onmouseover="this.src='/img/buttons/listings_h.png';" onmouseout="this.src='/img/buttons/listings.png';"></a></td>
      <td><img src="/img/buttons/emptybar2.png" alt=""></td>
    </tr>
  </tbody>
</table>
