@charset "utf-8";
/* CSS Document */
body {
background-color:rgba(11,11,11,1.00);
background-image:url("images/borders.png");
background-attachment:fixed;
background-repeat:repeat-y;
background-position:center;
background-size:1920px 1080px;
margin-left:auto;
width:1080px;  
margin-right:auto; 
margin-top:0px;
color:#B5FFD4;
text-shadow: 0px 2px 1px black;
}

main {
background-image:url("images/background.png")    
}

a:link {color:#1CFF98;}

a:visited {color:#64B495;}

a:hover {color:#76FFC9; background-color:#002E19}

a:active {color:white; background-color:dimgray}

input[type=text],input[type=email],input[type=tel],input[type=reset],input[type=submit] {
background-color:#000000;
color:#00FF5C;
border:1px solid;
}

textarea {
background-color:#000000;
color:#00FF5C;
border:1px solid;
}


