<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= title %></title>
<style type="text/css">
@import url("css/A1styles.css");
</style>
</head>
<body style="font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif'">
<nav align="center">
<%- include('./partials/header'); %>
</nav>
<main style="position:relative; top:-10px;" align="center">
<h1><%= header%></h1>
<table width="703" border="0" cellspacing="0" cellpadding="5" align="center">
  <tbody>
    <tr>
      <td width="400"><img src="img/portrait.png" alt="Portrait"></td>
      <td width="283" align="left"><p>My name's Cameron Edwards. I'm the guy who takes notes by watching you by the window.</p>
<p>Seriously though, I've been using Game Maker Studio for nine years (even though I've waited way too long to learn GML),
   and only recently have I been getting into both graphic design and pixel art. I've also been trying my hand at Unity recently, so let's see how that goes.</p>
    <p>If you would like to view a resume of myself, you may do so <a href="img/resume.pdf">HERE.</a></p></td>
    </tr>
  </tbody>
</table><br>
</main>
<footer style="position:relative; top:-16px;">
<%- include('./partials/footer'); %>
</footer>
</body>
</html>
