<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= title %></title>
<style type="text/css">
@import url("css/A1styles.css");
</style>
</head>
<body style="font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif'">
<nav align="center">
<%- include('./partials/header'); %>
</nav>
<main style="position:relative; top:-10px;" align="center">
<h1><%= header%></h1>
<p>If you want to contact me for something, no problem! Just fill out the forms below and click "submit", or simply<br>
send a message to my email through <a href="mailto:kingcameron9030@gmail.com">THIS</a> link.</p>
<form action="index"> <!-- Make sure to add input confirmation here -->
Full Name*: <input type="text" required="required" id="name">&nbsp;
Email*: <input type="email" required="required" id="email">&nbsp;
Contact Number: <input type="tel" id="number"><br><br>
Message*: <textarea required="required"></textarea><br><br>
<input type="reset">&nbsp; <input type="submit" value="Submit request">
</form>
<br>
</main>
<footer style="position:relative; top:-16px;">
<%- include('./partials/footer'); %>
</footer>
</body>
</html>
