<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= title %></title>
<style type="text/css">
@import url("css/A1styles.css");
</style>
</head>
<body style="font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif'">
<nav align="center">
<%- include('./partials/header'); %>
</nav>
<main style="position:relative; top:-10px;" align="center">
<h1><%= header%></h1>
<p>Welcome to my little corner of the internet. This site will serve as a repository for the stuff I've made.<br>I know this page may seem a bit small,
but remember that I just launched this thing - I'll fill it with more content<br>as I move forward in my journery of making things.</p>
<p>Now why am I making this? Well, that's because I want to share my creative works (games, digital art, etc.).<br>
    I don't care how small my audience is - if anything, I appreciate it very much that you're sitting here reading this.<br>
  If you would like to know more about me, use the navigation bar, or click <a href="about">HERE</a>.<br>Thank you, and enjoy your stay.</p><br>
</main>
<footer style="position:relative; top:-16px;">
<%- include('./partials/footer'); %>
</footer>
</body>
</html>
