<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= title %></title>
<style type="text/css">
@import url("css/A1styles.css");
</style>
</head>
<body style="font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif'">
<nav align="center">
<%- include('./partials/header'); %>
</nav>
<main style="position:relative; top:-10px;" align="center">
<h1><%= header%></h1>
<p>Fill out the forms below, and the system will add this new entry onto the contact listings.</p>
<form method="post">
Name: <input type="text" required="required" id="fullName" name="fullName">&nbsp;<br><br>
Phone: <input type="tel" required="required" id="phone" name="phone">&nbsp;<br><br>
Email: <input type="email" required="required" id="email" name="email">&nbsp;<br><br>
<input type="submit" value="Add!">&nbsp; <input type="reset" value="Clear Fields">
</form><br>
</main>
<footer style="position:relative; top:-16px;">
<%- include('./partials/footer'); %>
</footer>
</body>
</html>
