<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= title %></title>
<style type="text/css">
@import url("css/A1styles.css");
</style>
</head>
<body style="font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif'">
<nav align="center">
<%- include('./partials/header'); %>
</nav>
<main style="position:relative; top:-10px;" align="center">
<h1><%= header%></h1>
<p>This is a kind of online phonebook that stores the various emails and phone numbers of<br> business contacts.
    You may add your own contacts using the button below, or you may edit the <br> existing list using the buttons
    on the right of each entry. </p>
<form>
<input type="button" value="Add Entry" id="add" onclick="window.location.href='listingsadd';"><br><br>
<table width="960" border="1" cellspacing="0" cellpadding="1" align="center">
  <tbody>
    <tr>
      <th width="254" scope="col">&nbsp;Name</th>
      <th width="254" scope="col">&nbsp;Email</th>
      <th width="254" scope="col">&nbsp;Phone</th>
      <th width="154" scope="col">&nbsp;Options</th>
    </tr>
	<% for(let count = 0; count < EntryList.length; count++) { %>
    <tr>
      <td>&nbsp;<%= EntryList[count].fullName %></td>
      <td>&nbsp;<%= EntryList[count].email %></td>
      <td>&nbsp;<%= EntryList[count].phone %></td>
      <td>&nbsp;<input type="button" value="Update" id="update" onclick="window.location.href='listingsupdate/<%= EntryList[count]._id %>';">
	  &nbsp;<input type="button" value="Delete" id="delete" onclick="window.location.href='/delete/<%= EntryList[count]._id %>';"></td>
    </tr>
	<% } %>
  </tbody>
</table><br>
<input type="button" value="Logout" id="logout" onclick="window.location.href='logout';"><br><br>
</form>
</main>
<footer style="position:relative; top:-16px;">
<%- include('./partials/footer'); %>
</footer>
</body>
</html>
