<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= title %></title>
<style type="text/css">
@import url("css/A1styles.css");
</style>
</head>
<body style="font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif'">
<nav align="center">
<%- include('./partials/header'); %>
</nav>
<main style="position:relative; top:-10px;" align="center">
<h1><%= header%></h1>
<p>The credentials you have provided are invalid. Please return to the previous page and try again.</p><br>

</main>
<footer style="position:relative; top:-16px;">
<%- include('./partials/footer'); %>
</footer>
</body>
</html>
