<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= title %></title>
<style type="text/css">
@import url("css/A1styles.css");
</style>
</head>
<body style="font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif'">
<nav align="center">
<%- include('./partials/header'); %>
</nav>
<main style="position:relative; top:-10px;" align="center">
<h1><%= header%></h1>
<p>The page that you're requesting requires an account to access. Please enter your login details below.<br>
Don't have an account? You may create one <a href="register">here</a>. </p>
<form method="post">
Username: <input type="text" required="required" id="username" name="username">&nbsp;<br><br>
Password: <input type="text" required="required" id="password" name="password">&nbsp;<br><br>
<input type="reset">&nbsp; <input type="submit" value="Login">
</form><br>
</main>
<footer style="position:relative; top:-16px;">
<%- include('./partials/footer'); %>
</footer>
</body>
</html>
