<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= title %></title>
<style type="text/css">
@import url("css/A1styles.css");
</style>
</head>
<body style="font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif'">
<nav align="center">
<%- include('./partials/header'); %>
</nav>
<main style="position:relative; top:-10px;" align="center">
<h1><%= header%></h1>
<p>This is a page containing all of the stuff that I've been involved in. Links are stored in the icons.&nbsp;&nbsp;</p>
<table width="960" border="0" cellspacing="0" cellpadding="2" align="center">
  <tbody>
    <tr>
      <th scope="col"><img src="img/projicons/interbar.png" alt=""></th>
      <th scope="col"><img src="img/projicons/artbar.png" alt=""></th>
    </tr>
    <tr>
      <td><table width="512px;" border="0" cellspacing="0" cellpadding="2" style="background-color: rgba(0,155,50,0.15)">
  <tbody  align="left"  style="color:white">
    <tr>
      <td rowspan="2"><img src="img/projicons/int_iwetp.png" alt="IWETP"></td>
      <td><strong style="color:rgba(0,255,147,1.00)">I wanna Escape the Planet</strong> (Status: Almost ready!)</td>
    </tr>
    <tr>
      <td>A non-traditional IWBTG fangame with a focus on combat rather than simple trial and error.
          Fight your way through six challenging worlds in this fast-paced action platformer! This is a solo project.</td>
    </tr>
  </tbody>
</table>
</td>
      <td><table width="512px;" border="0" cellspacing="0" cellpadding="2" style="background-color: rgba(0,85,155,0.15)">
  <tbody  align="left"  style="color:white">
    <tr>
      <td rowspan="2"><a href="img/art/unlink20.png"><img src="img/projicons/art_unlink20.png" alt="Unlink 2020"></a></td>
      <td><strong style="color:rgba(0,108,255,1.00)">Unlink 2020</strong></td>
    </tr>
    <tr>
      <td>The second wallpaper I made for a small community far, far away. Now featuring 33 unique characters! Once again, the background is from 2kki, sprites by me.</td>
    </tr>
  </tbody>
</table></td>
    </tr>
    <tr>
      <td><table width="512px;" border="0" cellspacing="0" cellpadding="2" style="background-color: rgba(0,155,50,0.15)">
  <tbody style="color:white" align="left">
    <tr>
      <td rowspan="2"><img src="img/projicons/int_bre.png" alt="Ball Revamped Extended"></td>
      <td><strong style="color:rgba(224,0,255,1.00)">Ball Revamped Extended</strong> (Status: Hiatus)</td>
    </tr>
    <tr>
      <td>A tribute to John Cooney (jmtb02)’s old interactive works, and a trip down memory lane for those who grew up with Flash. This is a solo project.</td>
    </tr>
  </tbody>
</table></td>
      <td><table width="512px;" border="0" cellspacing="0" cellpadding="2" style="background-color: rgba(0,85,155,0.15)">
  <tbody  align="left"  style="color:white">
    <tr>
      <td rowspan="2"><a href="img/art/unlink19.png"><img src="img/projicons/art_unlink19.png" alt="Unlink 2019"></a></td>
      <td><strong style="color:rgba(219,178,111,1.00)">Unlink 2019</strong></td>
    </tr>
    <tr>
      <td>The first wallpaper I made for a community of likeminded people in a system far, far away. The background is from Yume 2kki, and the sprites are by me.</td>
    </tr>
  </tbody>
</table></td>
    </tr>
    <tr>
      <td><table width="512px;" border="0" cellspacing="0" cellpadding="2" style="background-color: rgba(0,155,50,0.15)">
  <tbody style="color:white" align="left">
    <tr>
      <td rowspan="2"><img src="img/projicons/int_yorichat.png" alt="Yorichat"></td>
      <td><strong style="color:rgba(255,142,0,1.00)">Yorichat</strong> (Status: Planning phase)</td>
    </tr>
    <tr>
      <td>The long-awaited successor to Miniwatrix. The code will be done by Yori, and the graphic design will be by yours truly.</td>
    </tr>
  </tbody>
</table></td>
      <td><img src="img/projicons/blank.png" align="left" alt="Coming soon..."></td>
    </tr>
    <tr>
      <td><img src="img/projicons/blank.png" align="left" alt="Coming soon..."></td>
      <td><img src="img/projicons/blank.png" align="left" alt="Coming soon..."></td>
    </tr>
  </tbody>
</table><br>

</main>
<footer style="position:relative; top:-16px;">
<%- include('./partials/footer'); %>
</footer>
</body>
</html>
