<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= title %></title>
<style type="text/css">
@import url("css/A1styles.css");
</style>
</head>
<body style="font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif'">
<nav align="center">
<%- include('./partials/header'); %>
</nav>
<main style="position:relative; top:-10px;" align="center">
<h1><%= header%></h1>
<p>This is a page containing all of the different services that I offer. If the background for it is gray, it means it's currently not available.</p>
<table width="960" border="0" cellspacing="0" cellpadding="2" align="center">
  <tbody>
    <tr>
      <td><table width="512px;" border="0" cellspacing="0" cellpadding="2" style="background-color: rgba(155,155,155,0.15)">
  <tbody  align="left"  style="color:white">
    <tr>
      <td rowspan="2"><img src="img/serviceicons/serv_gms.png" alt="Assistance with GameMaker"></td>
        <td><strong style="color:rgba(0,255,50,1.00)">Assistance with GameMaker</strong></td>
    </tr>
    <tr>
      <td>If you need help with certain code, DnD blocks, or something similar, I should be able to point you in the right direction. If I had to be honest though, I’d tell you not to expect a 100% successrate. NOTE: DOES NOT APPLY WITH GMS2!</td>
    </tr>
  </tbody>
</table>
</td>
      <td><table width="512px;" border="0" cellspacing="0" cellpadding="2" style="background-color: rgba(0,155,50,0.15)">
  <tbody  align="left"  style="color:white">
    <tr>
      <td rowspan="2"><img src="img/serviceicons/serv_graphic.png" alt="Graphic/UI Design"></td>
      <td><strong style="color:rgba(0,240,255,1.00)">Graphic/UI Design</strong></td>
    </tr>
    <tr>
      <td>Feel like trying a different aesthetic? Just ask, and I’ll be able to provide a pitch or design for your project- it won’t be like anything you’ve seen before.</td>
    </tr>
  </tbody>
</table></td>
    </tr>
    <tr>
      <td><table width="512px;" border="0" cellspacing="0" cellpadding="2" style="background-color: rgba(0,155,50,0.15)">
  <tbody style="color:white" align="left">
    <tr>
      <td rowspan="2"><img src="img/serviceicons/serv_sprite.png" alt="Spritework"></td>
      <td><strong style="color:rgba(255,0,0,1.00)">Spritework</strong></td>
    </tr>
    <tr>
      <td>I can draw up sprites based off of existing games (such as Megaman or Yume Nikki), or I can come up with new ones for you to use.</td>
    </tr>
  </tbody>
</table></td>
      <td><img src="img/projicons/blank.png" align="left" alt="Coming soon..."></td>
    </tr>
    <tr>
      <td><img src="img/projicons/blank.png" align="left" alt="Coming soon..."></td>
      <td><img src="img/projicons/blank.png" align="left" alt="Coming soon..."></td>
    </tr>
    <tr>
      <td><img src="img/projicons/blank.png" align="left" alt="Coming soon..."></td>
      <td><img src="img/projicons/blank.png" align="left" alt="Coming soon..."></td>
    </tr>
  </tbody>
</table><br>

</main>
<footer style="position:relative; top:-16px;">
<%- include('./partials/footer'); %>
</footer>
</body>
</html>
